<div id="<%= dom_id user %>">
  <p>
    <strong>Id:</strong>
    <%= user.id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Uuid:</strong>
    <%= user.uuid %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= user.type %>
  </p>

</div>
